*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}
#darts {
    height: 50%;
    padding: 10px;
}
#line {
    height: 2px;
    width: 100%;
    background-color: #c00;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#ball {
    height: 50px;
    position: absolute;
    left: 50%;
    top: calc(50% + 40px);
    transform: translate(-50%, -50%);
    /* pointer-events: none; */
}